section { 
    height: 100vh; 
    width: 100%;
    background-image:url("/twinfeats/images/catsdogs.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.title {
    font-family: "Gloria Hallelujah";
    font-size: 3rem;
    text-align: center;
}

html {
    font-family: "Open Sans";
    font-size: 3vh;
    overflow: hidden; /*This is to hide or disallow scroll bar*/
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.nav {
    background-color: #808080;
}
